<section class="section about" id="about-me">
  <div class="about-me-container container">
    <h2 class="title">About <span class="spanabout">me</span></h2>
    <div class="wrapper">
      <div class="container-photo">
        <picture class="about-photo">
          <source
            srcset="
              ./img/about-me/about-desk-1x.jpg 1x,
              ./img/about-me/about-desk-2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./img/about-me/abaut-pad.jpg    1x,
              ./img/about-me/abaut-pad-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/about-me/abaut-mob.jpg    1x,
              ./img/about-me/abaut-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/about-me/abaut-mob.jpg"
            alt="It's me, hello"
            width="320"
            height="374"
            class="photo-img"
            srcset="
              ./img/about-me/abaut-mob.jpg    1x,
              ./img/about-me/abaut-mob-2x.jpg 2x
            "
          />
        </picture>
      </div>
      <div class="bio-portf">
        <h3 class="title-about">BIO</h3>
        <p class="information-about">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="information-about cl">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
        <img
          src="./img/about-me/decor bg 2.png"
          alt="It's me, hello"
          width="320"
          height="374"
          class="photo-back"
        />
      </div>
    </div>
    <div class="stars"></div>

    <div class="wrapper-briefcase">
      <div class="about-me-briefcase">
        <h3 class="title-about education">EDUCATION</h3>
        <ul class="about-me-education-list">
          <li class="about-me-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="about-me-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="about-me-item ad">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>
      <div class="about-role hs">
        <h3 class="title-about role">ROLE</h3>
        <ul class="about-me-role-list">
          <li class="about-me-item">Frontend development</li>
          <li class="about-me-item">HeadlessCMS, Wordpress</li>
          <li class="about-me-item bl">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
