<header class="header">
   
        <div class="container header-container">
            <nav class="header-navigation">
                <a class="logo" href="./index.html">LLOYD<span class="logo-part">JEFFERSON</span></a>
                <ul class="nav-menu">
                    
                    <li><a class="nav-link" href="./partials/about-me.html" target="_blank" rel="noopener noreferrer">About me</a></li>
                    <li><a class="nav-link" href="./partials/my-projeckts.html" target="_blank" rel="noopener noreferrer">Project</a></li>
                    <li><a class="nav-link" href="./partials/footer.html" target="_blank" rel="noopener noreferrer">Contact</a></li>
                </ul>
            </nav>
           
        </div>
    </header>

   
   
   
 