<section class="hero" id="hero">
  <div class="hero-container container">
    <div class="hero-title-container">
      <h1 class="hero-title">
        Hello, I am <span class="hero-title-part">fullstack developer</span>
      </h1>
      <picture class="hero-photo">
        <source
          srcset="./img/hero/hero-desk.jpg 1x, ./img/hero/hero-desk-2x.jpg 2x"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <img
          src="./img/hero/hero-desk.jpg"
          alt="Developer"
          width="592"
          height="444"
          class="hero-img"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="hero-data-container">
      <a class="hero-link" href="#work-together">
        <div class="hero-link-div">
          <svg class="hero-link-icon">
            <use href="./img/sprite.svg#icon-ArrowHero"></use>
          </svg>
          Order the project
        </div>
      </a>
      <a class="hero-link-rectangle" href="#work-together"></a>
      <p class="hero-text">
        I work with people all over the world to create
        <span class="hero-text-part">impressive</span> and
        <span class="hero-text-part">functional websites</span> that reflect
        each client's unique personality.
      </p>
    </div>
  </div>
  <div class="hero-social-container">
    <ul class="hero-social-list">
      <li class="hero-social-list-item">
        <a
          class="hero-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Instagram</a
        >
      </li>
      <li class="hero-social-list-item">
        <a
          class="hero-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Facebook</a
        >
      </li>
      <li class="hero-social-list-item">
        <a
          class="hero-social-link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >LinkedIn</a
        >
      </li>
      <li class="hero-social-list-item">
        <a
          class="hero-social-link"
          href="https://github.com/Voroshylo/projeckt-js-group-02"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
