<section class="reviews" id="reviews">
  <div class="container review-container">
    <h2 class="review-section-title">REVIEWS</h2>


     <ul class="review-list">
      <!-- Natalia Shevchenko -->

      <li class="review-list-item">
        <p class="review-section-text">
            Work with was extraordinary! He turned out to be a very competent and responsible specialist.
            The projects were completed on time and the result exceeded my expectations
          </p>
        
          <div class="review-avatar-text">
          <img
          srcset="
            ./img/reviews/...-min.jpg 1x,
            ./img/reviews/...2-min.jpg 2x
          "
          class="review-section-img"
          src="./img/reviews/...1-min.jpg"
          alt="Avatar"
        />
       
          <h3 class="review-section-title">Natalia Shevchenko</h3>
          </div>
      </li>

       <!-- Dmytro Nazarenko-->
  <li class="review-list-item">
    <p class="review-section-div-text">
            I have the honor to recommend him as an exceptional professional in his field. His knowledge and expertise are undeniable.
            Cooperation with him always brings impressive results.
          </p>
        
        <div>
          <img
          srcset="
            ./img/reviews/....-min.jpg 1x,
            ./img/reviews/....@2-min.jpg 2x
          "
          class="review-section-img"
          src="./img/reviews/....@1-min.jpg"
          alt="Avatar"
        />
        <div class="review-title-text-div">
          <h3 class="review-section-div-title">Dmytro Nazarenko</h3>
          </div>
        </div>
      </li>

      
</ul>


    <!-- Swiper -->
    <div class="reviews-swiper">
      <div id="reviews-swiper-list" class="swiper-wrapper">
        <!-- тут додані відгуки -->
      </div>
      <div class="review-arrow-nav">
        <div class="button-prev">
          <svg class="review-icon-back" width="24" height="24">
    
            <use href="./public/favicon.svg#icon-arrow-narrow-left-REVIEWS"></use>
          </svg>
        </div>

        <div class="button-next">
          <svg class="review-icon-next" width="24" height="24">
            <use href="./public/favicon.svg#icon-arrow-narrow-right-Reviews"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>