<section class="reviews" id="reviews">
  <div class="container review-container">
    <h2 class="review-section-title">REVIEWS</h2>

    <!-- Swiper -->
    <div class="reviews-swiper">
      <div id="reviews-list" class="swiper-wrapper">
        <!-- тут додані відгуки -->
      </div>
      <div class="review-arrow-nav">
        <div class="button-prev">
          <svg class="review-icon-back" width="32" height="32">
            <use href=""></use>
          </svg>
        </div>

        <div class="button-next">
          <svg class="review-icon-next" width="32" height="32">
            <use href=""></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>