<section class="tech-skills">
    <!-- <h2 class="visually-hidden">Tech skills</h2> -->
    <div class="container_tech_skills">
        <div class="marquee">
            <div class="marquee__inner">
                <p class="marquee__line">
                    HTML/CSS
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    JavaScript
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    React
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    Node. js
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    React Native
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    Typescript
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                </p>
                <p class="marquee__line">
                    HTML/CSS
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    JavaScript
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    React
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    Node. js
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    React Native
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                    Typescript
                    <svg class="icon-svg" width="8" height="8">
                        <use href=""></use>
                    </svg>
                </p>
            </div>
        </div>

        <div class="marquee marquee_incline">
            <div class="marquee__inner inner_incline">
                <p class="marquee__line line_incline">
                    HTML/CSS
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    JavaScript
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    React
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    Node. js
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    React Native
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    Typescript
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                </p>
                <p class="marquee__line line_incline">
                    HTML/CSS
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    JavaScript
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    React
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    Node. js
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    React Native
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                    Typescript
                    <svg class="icon-svg svg-incline" width="8" height="8">
                        <use href="./img/symbol-defs.svg#icon-2"></use>
                    </svg>
                </p>
            </div>
        </div>
    </div>

</section>