<section class="tech-skills">
    <!-- <h2 class="visually-hidden">Tech skills</h2> -->
    <div class="container_tech_skills">
        <div class="marquee">
            <ul class="marquee-ul marquee__line">
                <li class="marquee-li">HTML/CSS</li>
                <li class="marquee-li">JavaScript</li>
                <li class="marquee-li">React</li>
                <li class="marquee-li">Node. js</li>
                <li class="marquee-li">React Native</li>
                <li class="marquee-li">Typescript</li>
            </ul>
            <ul class="marquee-ul marquee__line">
                <li class="marquee-li">HTML/CSS</li>
                <li class="marquee-li">JavaScript</li>
                <li class="marquee-li">React</li>
                <li class="marquee-li">Node. js</li>
                <li class="marquee-li">React Native</li>
                <li class="marquee-li">Typescript</li>
            </ul>
        </div>

        <div class="marquee marquee_incline">
            <ul class="marquee-ul marquee__line line_incline">
                <li class="marquee-li-incline">HTML/CSS</li>
                <li class="marquee-li-incline">JavaScript</li>
                <li class="marquee-li-incline">React</li>
                <li class="marquee-li-incline">Node. js</li>
                <li class="marquee-li-incline">React Native</li>
                <li class="marquee-li-incline">Typescript</li>
            </ul>
            <ul class="marquee-ul marquee__line line_incline">
                <li class="marquee-li-incline">HTML/CSS</li>
                <li class="marquee-li-incline">JavaScript</li>
                <li class="marquee-li-incline">React</li>
                <li class="marquee-li-incline">Node. js</li>
                <li class="marquee-li-incline">React Native</li>
                <li class="marquee-li-incline">Typescript</li>
            </ul>
        </div>


    </div>
</section>