.section.about {
  margin: 0 auto;
  max-width: 335px;
}

.about-me-container {
  width: 320px;
  align-content: center;
  margin: 0 auto;
}
.title {
  text-align: left;
  font-family: Impact;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 1.8;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.spanabout {
  color: #00b068;
}

.about-photo {
  display: inline-block;
  max-width: 320px;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 40px;
}
.about-photo img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.title-about {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: 0.5px;
  margin-bottom: 32px;
}
.photo-back {
  display: none;
}
.information-about {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.information-about:not(:last-child) {
  margin-bottom: 24px;
}
.title-about.education {
  margin-top: 40px;
}

.about-me-item {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.about-me-item:last-child {
  margin-bottom: 40px;
}
.about-me-item.bl {
  margin-bottom: 0px;
}
.about-me-item::before {
  content: '•';
  color: #00b068;
  margin-right: 18px;
  width: 4px;
  height: 4px;
}
.section.about {
}
.about-me-briefcase,
.about-role {
  width: 320px;
}

@media screen and (min-width: 768px) {
  .section.about {
    margin-bottom: 124px;
    margin-top: 124px;
    max-width: 768px;
  }
  .about-me-container {
    align-content: center;
    width: auto;
  }
  .title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .about-me-container.container {
    padding: 0 32px;
    max-width: 768px;
  }
  .about-photo {
    max-width: 336px;
    height: 392px;
    margin-top: 408px;
  }
  .about-photo img {
    width: 336px;
    height: 392px;
    border-radius: 16px;
    margin-bottom: 40px;
    object-fit: cover;
  }
  .container-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .title-about {
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 48px;
    text-align: start;
    margin-bottom: 32px;
  }
  .information-about {
    margin-bottom: 24px;
    width: 336px;
  }
  .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }
  .title-about.education {
    margin-top: 0;
  }
  .wrapper-briefcase {
    display: flex;
    gap: 32px;
    position: relative;
  }
  .about-me-briefcase,
  .about-role {
    width: 336px;
  }
  .photo-back {
    float: right;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    justify-content: end;
    gap: 0;
  }
  .about-me-container.container {
    max-width: 1280px;
  }
  .information-about {
    width: 488px;
    margin-bottom: 0px;
  }
  .about-photo {
    width: 384px;
    height: 448px;
    margin-top: 272px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 80px;
    margin-right: 136px;
  }
  .about-photo img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
  .about-me-briefcase {
    margin-right: 136px;
  }
  .about-role {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .photo-back {
    float: right;
    display: inline-flex;
    padding: 30.149px 0px 0px 3.77px;
    justify-content: center;
    align-items: center;
  }
  .wrapper-briefcase {
    margin-left: 260px;
  }

  .section.about {
    max-width: 1280px;
  }
}
