/*=====MOBILE STYLES===== */

.benefits {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.benefits-icon {
    box-sizing: unset;
}

.benefits-image {
    display: none;
}

.benefits-title {
    font-family: Impact, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.benefits-title-span {
    color: #00B068;
}

.benefits-icon {
    padding: 12px;
}

.benefits-icon-container {
    display: block;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 176, 104, 0.1);
    margin-bottom: 16px;
}

.benefits-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.benefits-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

@media screen and (min-width:360px) {
    .benefits-text {
        min-width: 320px;
    }
}

.benefits-text-margin {
    margin-bottom: 32px;
}

/* ==================================== */

/*=====TABLET STYLES===== */

@media screen and (min-width: 768px) {
    .benefits {
        padding-top: 124px;
        display: block;
    }

    .benefits-title {
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        min-width: 704px;
    }

    .benefits-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 32px;
    }

    .benefits-grid-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .benefits-grid-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .benefits-grid-3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .benefits-grid-4 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .benefits-item-title {
        font-size: 20px;
        line-height: 1.6;
    }

    .benefits-text-margin {
        margin-bottom: 0;
    }
}

/* ==================================== */

/*=====DEKSTOP STYLES===== */

@media screen and (min-width: 1280px) {

    .benefits {
        position: relative;
        padding-top: 164px;
    }

    .benefits-image {
        display: block;
        position: absolute;
        /* top: 32px;
        right: 0; */
        bottom: 500px;
    }

    .benefits-image {
        left: 57%;
    }


    .benefits-container {
        position: relative;
    }


    .benefits-title {
        max-width: 681px;
        margin-bottom: -75px;
        /* position: absolute;
        bottom: 85%; */
    }

    .benefits-list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .benefits-grid-1 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .benefits-grid-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .benefits-grid-3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .benefits-grid-4 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .benefits-item-title {
        font-size: 20px;
        line-height: 1.6;
    }
}

/* ==================================== */