.section-faq {
    padding-top: 80px;
}

.faq-title-span {
    color: #00B068;
}

.faq-item-title {
    color: #00B068;
}

/* --------- */
.faq-scroll-button-icon {
stroke: #000000;
fill: none;
width: 24px;
height: 24px;
}

.faq-title {
font-family: Impact;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 123.077% */
letter-spacing: 1.8px;
text-transform: uppercase;
    line-height: 123%;
    max-width: 320px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: left;
}

/* -------320-------- */
.faq-list .faq-item {
    margin: 0;
    padding: 28px 24px;
    border: 1px solid transparent;
    border-bottom-color: var(--accent-bg-color);
}

.faq-list .faq-item {
border-bottom: 1px solid #CCC;
}

.faq-item.is-active {
    border-radius: 16px;
    background-color: #BCDFD1;
    border:none;
}

.faq-list .faq-item .item-title-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.faq-item-arrow {
}

.faq-list .faq-item-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);

    max-width: 224px;
}

.faq-list .faq-item .item-title-wrap:focus {
    color: var(--text-color);
}

.faq-list .faq-item .faq-item-wrapper>.faq-item-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--text-color);
    padding: 0;
    margin-top: 24px;
}

/* -------768-------- */
@media (min-width: 768px) {
    .section-faq{
        padding-top: 124px;
    }
    .faq-container {
        padding: 0 32px;
    }

    .faq-title {
        font-family: Impact;
font-size: 108px;
line-height: 124px; /* 114.815% */
letter-spacing: 1.8px;
        max-width: 592px;
font-size: 108px;
font-weight: 400;
line-height: 124px; /* 114.815% */
letter-spacing: 1.8px;
        margin-bottom: 60px;
    }

    .faq-list .faq-item-title {
        font-size: 20px;
        line-height: 160%;
        max-width: 600px;
    }
}

/* -------1280-------- */
@media (min-width: 1280px) {
    .section-faq{
        padding-top: 164px;
    }
    .faq-title {
        margin-bottom: 0;
    }

    .faq-title {
        position: absolute;
    }

    .faq-desctop {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: baseline;
    }

    .faq-list {
        margin-top: 276px;
        max-width: 592px;
    }

    .faq-list .faq-item-title {
        max-width: 488px;
    }
}

/* @media only screen and (min-width: 1280px) {
  
} */
@media only screen and (min-width: 1280px) {
    .wrapper-faq {
        background-image: url('../img/faq/faq-desk.png');
        background-repeat: no-repeat;
        background-position: bottom 0px left 0px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .wrapper-faq {
            background-image: url('../img/faq/faq-desk-2x.png');
            background-size: 50%;
        }
    }
}

.ac .item-title-wrap.ac-trigger::after {
    content: '';
}