.footer{
    border-top: 1px solid var(--Light-grey, #E4E5E6);
    padding-top: 40px;
    padding-bottom: 24px;
}
.body.darkthema .footer{
   border-top:  1px solid var(--Light-grey, #E4E5E6);
}
.footer-content {
    display: flex;
    flex-direction: column;
    
}
.footer-logo {
    
    font-family: Impact;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 100% */
letter-spacing: 1.5px;
text-transform: uppercase;
text-shadow: 0 4px 4px rgba(0,0,0,.25);
}
.span {
    color: var(--Accet-green, #00B068);
font-family: Impact;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 1.5px;
text-transform: uppercase;
}
.footer-list {
    display: grid;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 40px;
}

.footer-link {
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
color: var(--Accet-green, #00B068);

cursor: pointer;
}
.footer-text {
    margin: 0 auto;
    width: 198px;
    text-align: center;
/* Desktop-Tablet/body 1 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}

@media  screen and (min-width: 768px){
.footer-content {
    display: flex;
    
}

.footer-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.footer-text {
        width: auto;
    text-align: right;
}
}

@media  screen and (min-width: 1280px){
.footer-content {
    flex-direction: row;
    justify-content: space-between;
}
.footer-logo {
    text-align: left;
}

.footer-list {
                display: flex;
            gap: 40px;
            margin: 0;
}

.footer-text {
    width: auto;
    text-align: right;
margin-top: 40px
}

}