
:root {
    /*color*/
    --bg-color: #f4f4f4;
    --main-color: #111321;
    --color-btn-favorite: #111321;
    --accent-color: #4440f6;
    --second-color: #a8a8a8;
    --third-color: #ffffff;
    --border-color: #4440f7;
    --theme-color: #4b48db;
    --switcher-gray-moon: #5f6775;
    --switcher-accent-day: #4b48db;
    --footer-color: #7a7a7a;
    --main-font: Manrope, sans-serif;
    --weather-font: Roboto, sans-serif;
    --calendar-font: Poppins, sans-serif;
}

body.themeDark {
    --bg-color: #2e2e2e;
    --main-color: #f4f4f4;
    --switcher-gray-moon: #4b48db;
    --switcher-accent-day: #5f6775;
    min-height: 100vh;
}

/*.themeDark {
    --bg-color: #2e2e2e;
    --main-color: #f4f4f4;
    --switcher-gray-moon: #4b48db;
    --switcher-accent-day: #5f6775;
    min-height: 100vh;
}*/

body {
    color: var(--main-color);
    background-color: var(--bg-color);
}
/*+++++++++++++===============================================*/


.header {
color:aquamarine;
}
   
/*.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}*/

.header-container {
    display: flex;
    /*  border-bottom: 1px solid #E7E9FC; */
    align-items: center;
 /*   justify-content: left; */
 
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    
    /* margin-right: 332px; */
    /*  justify-content: space-between; */
}


.logo {
   /* color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px; */

    color: var(--Black, #292929);
        font-family: Impact;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 100% */
        letter-spacing: 1.5px;
        text-transform: uppercase;
}

.logo-part {
   
color: var(--Accet-green, #00B068);
    font-family: Impact;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
   
}
 
.nav-menu {
    display: flex;
    gap: 40px;
    padding: 24px 0; 
   
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404BBF;

}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /*          */
}

.darkthema {
    --bg-color: #2e2e2e;
    --main-color: #f4f4f4;
    color: var(--main-color);
    background-color: var(--bg-color);
    --switcher-gray-moon: #4b48db;
    --switcher-accent-day: #5f6775;
    min-height: 100vh;

}

body.darkthema {
    --bg-color: #2e2e2e;
    --main-color: #f4f4f4;
    color: var(--main-color);
    background-color: var(--bg-color);


}

.lightthema {
    color: var(--main-color);
    background-color: var(--bg-color);
   }

.switchThema {

}
.switchthema-icon {
   height: 32px; 
   width: 42px;
}


/*+++++++++++++++++++++++========== thema css +++++++++===========*/

body.themeDark {
    background-color: var(--bg-color);
    color: var(--third-color);
}

body.themeDark .home-header {
    border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}

.theme-site {
    display: none;
}

.theme__light {
    margin: 0;
    padding: 0;
}

.theme__dark {
    margin: 0;
    padding: 0;
}

.theme-label {
    margin-left: 8px;
    margin-right: 8px;
}

#sitetheme {
    display: none;
}

#sitetheme+.theme-label,
#sitetheme+.theme-label::after {
    transition: all 0.3s;
}

#sitetheme+.theme-label {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;

    background: var(--third-color);
    border: 1px solid var(--theme-color);
    border-radius: 20px;
    cursor: pointer;
}

#sitetheme+.theme-label::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
    background-color: var(--theme-color);
}

#sitetheme:checked+.theme-label::after {
    left: 54%;
    background-color: var(--third-color);
}

#sitetheme:checked+.theme-label {
    background: var(--theme-color);
}

.moon {
    fill: var(--switcher-gray-moon);
    stroke: var(--switcher-gray-moon);
}

.sun {
    fill: var(--theme-color);
    stroke: var(--theme-color);
}

body.themeDark #sitetheme+.theme-label {
    background: var(--theme-color);
    border: 1px solid var(--third-color);
}

body.themeDark .moon {
    fill: var(--bg-color);
    stroke: var(--switcher-gray-moon);
}

body.themeDark .sun {
    fill: var(--switcher-accent-day);
    stroke: var(--switcher-accent-day);
}

.theme__light {
  /*  font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: var(--theme-color);
}

body.themeDark .theme__light {
    color: var(--main-color);
    opacity: 0.4;
}

.theme__dark {
   /* font-family: 'Poppins';*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: var(--switcher-gray-moon);
}

body.themeDark .theme__dark {
    color: var(--border-color);
}

@media screen and (max-width: 1279px) {

    .theme__dark,
    .theme__light {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }
}

@media screen and (min-width: 1280px) {

    .sun,
    .moon {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }
}

/*++++++++++++++++++++  header - css +++++=======================================*/






.position-header {
    position: relative;
   flex-direction: column;
}

.home-header {
    display: flex;
   /* padding: 24px 0px 24px 0px;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.icon-menu {
    fill: var(--main-color);
    color: var(--main-color);
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--main-color);
}

.logo-header {
    margin-right: 10px;
    color: var(--Accet-green, #00B068);
}

.menu-button {
    /*display: block;*/
    display: inline-block;
    padding: 0;
    margin-left: auto;
    background-color: var(--third-color);
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 0px;
}

.menu-container {
    display: none;
    position: relative;
}

.menu-container.is-open {
    display: block;
    padding-bottom: 18px;
    height: 75vh;
}

.icon-close {
    display: none;
    fill: var(--main-color);
    color: var(--main-color);
    background-color: rgba(0, 0, 0, 0.2);
}

.menu-button.is-open .icon-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.icon {
    margin-right: 14px;
    border: 1px solid var(--bg-color);
    border-radius: 50%;
}

.site-nav--link {
    display: flex;
    align-items: center;
    padding: 6px 0px 6px 0px;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.site-nav--link:hover {
    background-color: var(--accent-color);
}

.site-nav--item {
    margin-bottom: 0;
    width: 320px;
}

.icon-right {
    margin-left: auto;
    fill: var(--bg-color);
}

.site-nav--list {
    height: 100%;
    margin-top: 68px;
}



.input-label {
    display: flex;
    flex-direction: column;
    transform: translateX(+80%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label:hover {
    transform: translateX(0);
}

.search-name {
    position: absolute;
    top: 4px;
    left: 0px;
    padding-right: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: var(--main-color);
    opacity: 0.4;
    margin-left: 32px;
    opacity: 0.4;
    border-right: 1px solid var(--main-color);
}

.input-search {
    width: 150px;
    padding: 5px 0 5px 30px;
    display: block;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border-radius: 20px;
    background-color: transparent;
    border-color: transparent;
}

.input-label:hover .input-search {
    border: 1px solid var(--main-color);
    background-color: var(--third-color);
}

.icon-search {
    margin-right: 14px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 8px;
}

.search {
    display: inline-block;
    margin-right: 14px;
    overflow: hidden;
}

.search:hover .input-search {
    transform: translateX(-100%);
}

.form-search.is-open {
    display: none;
}

.icon-toggle-n {
    display: none;
}

.theme-toggle {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    position: absolute;
    bottom: 18px;
}

.theme-descr {
    display: none;
}

.icon-them-sun {
    display: flex;
}

.icon-them-moon {
    display: flex;
}

.theme-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 40px;
    height: 20px;
    padding: 0;
    margin-right: 8px;
    margin-left: 8px;
    border: none;
}

.button-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.login {
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--main-color);
}

/* body.themeDark .login {
  
} */

.registr {
    color: var(--main-color);
    font-weight: 400;
}

/* body.themeDark .registr {
  color: var(--third-color);
} */
.logout {
    color: var(--main-color);
    font-weight: 400;
}

/* body.themeDark .logout {
  color: var(--third-color);
} */
@media screen and (min-width: 768px) {
    .logo {
        font-size: 32px;
        line-height: 44px;
    }

    .position-header {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .home-header {
        padding: 32px 0px 32px 0px;
        position: static;
        display: block;
    }

    .icon-menu {
        display: none;
    }

    .logo-header {
        margin-right: 48px;
    }

    .menu-button {
        display: none;
    }

    .menu-container {
        display: flex;
    }

    .icon {
        display: none;
    }

    .site-nav--link {
        display: inline;

        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 8px;
    }

    .site-nav--item {
        width: 100%;
    }

    .site-nav--link:hover {
        background-color: transparent;
        color: var(--accent-color);
    }

    .site-nav--item:not(:last-child) {
        margin: 0 44px 0 0;
    }

    .site-nav--item:last-child {
        margin: 0 32px 0 0;
    }

    .icon-right {
        display: none;
    }

    .site-nav--list {
        margin-top: 0;
        display: flex;
    }

    .form-search {
        fill: #000000;
        position: relative;
        top: 0;
        right: 0;
    }

    .input-label {
        display: flex;
        flex-direction: row;
        transform: none;
    }

    .input-search {
        width: 173px;
        display: block;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        border-radius: 20px;
        background-color: transparent;
        border: 1px solid var(--main-color);
        background-color: #fff;
    }

    .icon-search {
        position: absolute;
        top: 0px;
    }

    .icon-search {
        margin-right: 14px;
        cursor: pointer;
        position: absolute;
        top: 4px;
        left: 8px;
    }

    .theme-toggle {
        display: flex;
        align-items: center;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        top: 0px;
        right: -340px;
    }

    .current-page {
        border-bottom: 1px solid var(--accent-color);
    }

    .button-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 30px;
        position: absolute;
        bottom: 0;
        top: -45px;
        right: -240px;
    }
}

@media screen and (min-width: 1280px) {
    .logo {
        font-size: 42px;
        line-height: 57px;
    }

  
    .home-header {
        padding: 28px 0px 28px 0px;
    }

    .logo-header {
        margin-right: 102px;
    }

    .site-nav--link {
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 5px;
    }

    .site-nav--item:not(:last-child) {
        margin-right: 69px;
    }

    .site-nav--item:last-child {
        margin-right: 147px;
    }

    .input-search {
        width: 248px;
    }

    .theme-toggle {
        display: flex;
        align-items: center;
        margin-top: auto;
        position: absolute;
        top: 0px;
        right: -600px;
    }

    .theme-descr {
        display: inline;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }

    .icon-them-sun {
        display: flex;
    }

    .icon-them-moon {
        display: flex;
    }

    .theme-icon-light {
        display: none;
    }

    .theme-icon-dark {
        display: none;
    }

    .button-box {
        display: inline;
        position: absolute;
        margin: 0;
        bottom: 0;
        top: 0;
        right: -390px;
    }

    .login {
        margin-bottom: 0px;
        margin-right: 15px;
    }
}



/*++++++++++++++++++==========================*/