.hero {
  /* padding-top: 80px; */
  /* padding-bottom: 112px; */
}

.hero-container {
  position: relative;
  padding-top: 112px;
  padding-bottom: 72px;
  background-image: url(../img/hero/hero-dekor-mob.png);
  background-repeat: no-repeat;
  background-size: 320px 704px;
  background-position-y: 16px;
  background-position-x: 20px;
  margin: 0 auto;
}

.hero-title {
  color: #292929;
  font-family: Impact;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.028em;
  text-transform: uppercase;
}
.hero-title-part {
  color: #00b068;
}
.hero-img {
  display: none;
}
.hero-data-container {
  margin-top: 40px;
}
.hero-link {
  position: relative;
  display: inline-block;
  color: #292929;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.027778em;
  text-transform: uppercase;
  padding: 32px 0;
  z-index: 2;
}
.hero-link-div {
  display: flex;
  position: relative;
  gap: 12px;
}
.hero-link-icon {
  width: 32px;
  height: 30px;
  padding-left: 4px;
}
.hero-link-rectangle {
  display: inline-block;
  width: 165px;
  height: 92px;
  border-radius: 16px;
  background-color: rgba(0, 176, 104, 0.2);
  position: absolute;
  top: 470px;
  right: 20px;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.hero-link:hover + .hero-link-rectangle {
  background-color: rgba(0, 176, 104, 0.6);
}
.hero-text {
  padding-top: 37px;
  color: #292929;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.hero-text-part {
  color: #00b068;
}
.hero-social-container {
  background-color: #e4e5e6;
  margin: 0 auto;
  padding: 0;
  padding-top: 16px;
}
.hero-social-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-social-link {
  color: #292929;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03125em;
  transition: color 300ms ease;
}
.hero-social-link:hover {
  color: #00b068;
}

/* Adaptive */

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/hero/hero-dekor-mob-2x.png);
  }
}

@media screen and (min-width: 335px) {
  .hero-link-rectangle {
    top: 392px;
    right: 55px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    /* padding-bottom: 124px; */
  }

  .hero-container {
    padding-top: 88px;
    padding-bottom: 0;
    background-image: url(../img/hero/hero-dekor-pad.png);
    background-size: 704px 896px;
    background-position-y: 13px;
    background-position-x: 34px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../img/hero/hero-dekor-pad-2x.png);
    }
  }
  .hero-title {
    font-size: 124px;
    line-height: 1.19355;
    letter-spacing: 0.01451em;
  }
  .hero-data-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
  }
  .hero-link {
    padding: 0;
    width: 416px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.025em;
  }
  .hero-link-div {
    padding: 32px 0;
  }
  .hero-link-rectangle {
    width: 261px;
    height: 96px;
    top: 592px;
    right: 380px;
  }
  .hero-text {
    padding-top: 0;
    padding-bottom: 104px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.025em;
  }
  .hero-social-list {
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    /* padding-bottom: 164px; */
  }
  .hero-container {
    padding-bottom: 96px;
    background-image: url(../img/hero/hero-dekor-desk.png);
    background-size: 1216px 772px;
    background-position-y: 16px;
    background-position-x: 32px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../img/hero/hero-dekor-desk-2x.png);
    }
  }
  .hero-title-container {
    display: flex;
    flex-direction: row;
    gap: 72px;
  }
  .hero-title {
    max-width: 552px;
    letter-spacing: 0.014em;
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero-img {
    display: block;
  }
  .hero-data-container {
    flex-direction: row;
    align-items: center;
    gap: 136px;
    margin-top: 80px;
  }
  .hero-link {
    margin-left: 72px;
  }
  .hero-link-icon {
    width: 31px;
    height: 30px;
  }
  .hero-link-rectangle {
    top: 612px;
    right: 820px;
  }
  .hero-text {
    padding-bottom: 0;
    width: 592px;
    letter-spacing: 0.027em;
  }
}
