.work-together{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 335px;
  }

  /* .work-together {
        background-image: url(../img/work-together/work-desk.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .work-together {
            background-image: url(../img/work-together/work-desk-2x.png);
        }
    } */

  .work-together-title{
    margin-top: 80px;
    color: #292929;
    text-align: left;
    font-family: 'Impact';
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 400;
  } 

  .workword{
    color: #00B068;
  }

  .newline{
    color: #00B068;
  }

  .work-together-text{
    margin-top: 40px;
    width: 320px;
    color: #292929;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.05em;
  }

  .contacts-list{
    margin-top: 32px;
    gap: 16px;
  }

  .contact-item{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .contact-link{
    color:#292929;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
    padding-left: 16px;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover {
    color: #00B068;
  }

  #work-together-form{
    margin-top: 40px;
  }

  .filling-input-item{
    margin-bottom: 32px;
  }

  .filling-input{
    width: 288px;
    height: 16px;
    background-color: #e4e5e6;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 16px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  .filling-input2{
    width: 288px;
    height: 96px;
    background-color: #e4e5e6;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 16px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  .submitbtn{
    width: 320px;
    height: 48px;
    color: #f0f0f0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    border-radius: 8px;
    padding: 12px 24px;
    gap: 10px;
    background-color: #00B068;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .submitbtn:hover{
    background-color: #009156;
  }

  .work-together-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms ease-in, visibility 500ms ease-in;
  }
  
  .work-together-modalcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 320px;
    height: 328px;
  }
  
  .work-together-modal {
    padding: 48px 32px;
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    /*height: 328px;
    width: 320px;*/
}

   .IsOpen {
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.work-together-modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background: none;
    border: none;
    stroke: #292929;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-together-close-icon{
 
  stroke: #292929;
}

.work-together-modal-title {
  /*padding-top: 38px ;
  padding-left: 32px;
  padding-right: 32px;*/
  text-align: center;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #00B068;
  margin-bottom: 16px;
}

.work-together-modal-text {
  /*padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;*/
  text-align: center;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #292929;
}

@media screen and (min-width: 768px) {

  .container1 {
    background-image: url('../img/work-together/work-desk.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 336px 260px;
  }

 @media screen and (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {

 } 

  .work-together{
    margin-bottom: 124px;
    margin-top: 124px;
    max-width: 768px;
  }

  .work-together-title{
    margin-top: 124px;
    text-align: left;
    font-size: 108px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 400;
  } 
  
  .work-together-text{
    margin-top: 60px;
    width: 488px;
    font-size: 20px;
    line-height: 1.6;
  }

  .contacts-list{
    margin-top: 32px;
    gap: 16px;
    display: flex;
    flex-direction: row;
  }

  .contact-item{
    display: flex;
    align-items: center;
  }

  #work-together-form{
    margin-top: 60px;

  }

  .filling-input-item{
    margin-bottom: 32px;
  }

  .filling-input{
    width: 704px;
    height: 48px;
  }

  .filling-input2{
    width: 704px;
    height: 128px;
  }

  .submitbtn{
    width: 180px;
    height: 48px;
  }
  
  .work-together-modalcontainer {
    width: 492px;
    height: 280px;
  }
  
  .work-together-modal {
    padding: 64px 54px;
    border-radius: 16px;
    /*height: 280px;
    width: 492px;*/
}

   .IsOpen {
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.work-together-modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background: none;
    border: none;
    stroke: #292929;

}

.work-together-modal-title {
  /*padding-top: 64px ;
  padding-left: 40px;
  padding-right: 40px;*/
}

.work-together-modal-text {
  /*padding-top: 16px;
  padding-left: 40px;
  padding-right: 40px;*/
}
}

@media only screen and (min-width: 1280px) {

  .container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 136px;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .container1 {
    background-image: url('../img/work-together/work-desk.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 526px 408px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .container1 {
      background-image: url('../img/work-together/work-desk-2x.png');
    }
  }

  .work-together {
    /*margin-bottom: 124px;
    margin-top: 124px;
    max-width: 768px;
    max-width: 335px;
    display: flex;
    justify-content: center;
    margin: 0 auto;*/
  }

  .work-together-title {
    margin-top: 0;
    color: #292929;
    text-align: left;
    font-family: 'Impact';
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 400;
  }

  .work-together-text {
    margin-top: 80px;
    width: 488px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.05em;
  }

  .contacts-list {
    width: 488px;
    margin-top: 110px;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  .contacts-list li:last-child {
    margin-bottom: 0; /* Прибираємо відступ у останнього елемента */
  }

  .contact-item{
    display: flex;
    align-items: center;
    /*margin-bottom: 16px;*/
  }

  .contact-link {
    /*width: 154px;*/
  }

  #work-together-form {
    position: relative;
    /*margin-top: 455px;*/
    /*margin-top: 60px;
    margin-top: 40px;*/
  }

  .filling-input-item {
    width: 592px;
    margin-bottom: 32px;
  }

  .filling-input {
    width: 560px;
    height: 24px;
  }

  .filling-input2 {
    width: 560px;
    height: 72px;
  }

  .submitbtn {
    width: 180px;
    height: 48px;
    color: #f0f0f0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    border-radius: 8px;
    padding: 12px 24px;
    gap: 10px;
    background-color: #00B068;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

body.darkthema .workword {
  color: #f0f0f0;
}

body.darkthema .work-together-title {
  color: #14C57C;
}
body.darkthema .newline {
  color: #14C57C;
}

.darkthema .work-together-text {
  color: #f0f0f0;
}

.darkthema .contact-icon {
  color: #14C57C;
}

.darkthema .contact-link {
  color: #f0f0f0;
}

.darkthema .contact-link:hover {
  color: #14C57C;
}

.darkthema .filling-input-item {
  color: #2A2D32;
}

.darkthema .submitbtn {
  background-color: #14C57C;
  color: #f0f0f0;
}

.darkthema .submitbtn:hover {
  background-color: #009156;
}

.darkthema .work-together-modal {
  background-color: #2A2D32;
}

.darkthema .work-together-modal-close {
  stroke: #f0f0f0;
}

.darkthema #work-together-modal-resp-title {
  color: #14C57C;
}

.darkthema #work-together-modal-resp-message {
  color: #f0f0f0;
}




